:root{
    /* ======== Fonts ======== */
    /* Font sizes */
    --fs-body: 0.81rem; /*13px*/
    /* Font weights */
    --fw-600: font-weight: 600;
    --fw-500: font-weight: 500;
    /* ======== Colors ======== */
    /* Primary colors */
  --clr-primary-100: hsl(263 55% 52%);
  --clr-primary-200: hsl(217 19% 35%);
  --clr-primary-300: hsl(219 29% 14%);
  /* Neutral colors */
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-200: hsl(210 46% 95%);
  --clr-neutral-300: hsl(0 0% 81%);
}

#container{
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: grid;
    margin: 0;
    background-color: var(--clr-neutral-300);
}


.customer-photos{
    
}

.wrapper{

}

.pull-quote{

}

.review{

}

#daniel{

}

#jonathan{

}

#patrick{

}

#kira{

}

.attribut

@media screen {
    
}