:root{
    /* ======== Fonts ======== */
    /* Font Families */Users/emilybrown/Library/CloudStorage/GoogleDrive-disabledsarcasm@gmail.com/My Drive/Disabled Tenacity/Resources/Coding/Source Code/GitHub/learn-grid-the-easy-way-main/index.html/
    --ff-body: 'Overpass', sans-serif;
    --ff-heading: 'Ubuntu', sans-serif;
    /* Font sizes */
    /* Font weights */
    --fw-700: font-weight: 700;
    --fw-600: font-weight: 600;
    --fw-500: font-weight: 500;
    --fw-400: font-weight: 400;
    --fw-300: font-weight: 300;
    /* ======== Colors ======== */
    /* Primary colors */
    --primary-red: hsl(365, 100%, 66%);
    --primary-light-red: hsl(355, 100%, 74%);
    --primary-blue: hsl(208, 49%, 24%);
    /* Neutral colors */
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-blue: hsl(240, 2%, 79%);
    --neutral-dark: hsl(255, 13%,34%);
    --neutral-black: hsl(240, 10%, 16%);
    /* Gradients */
    --nav-gradient: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    --footer-gradient: linear-gradient(to right, hsl(273, 17%, 21%), hsl(237, 23%, 23%));
}

h1{
    color: var(--primary-red);
}

/* .container{
    display: grid;
} */
